.container {
  background-color: #ffc2a0;
  padding: 20px;
  min-height: 100vh;
}
.bg-container {
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}
.header {
  color: #ff8542;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
}
